.standart {
  aspect-ratio: 4 / 3;
  height: 90%;
  position: relative;
}

.fullscreen {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.monitor {
  aspect-ratio: 4 / 3;
  height: 116%;
  position: fixed;
  z-index: 1000;
}

.desktopContainer {
  width: 100%;
  height: 100%;
  position: relative;
}
