.background {
  background-color: #c0c0c0;
  box-shadow: -1px 0px 0px 0px #c0c0c0, 0px -1px 0px 0px #c0c0c0,
    -1px -1px 0px 0px #c0c0c0, 1px -1px 0px 0px #000000,
    -1px 1px 0px 0px #000000, 1px 1px 0px 0px #000000,
    inset 1px 0px 0px 0px #ffffff, inset 0px 1px 0px 0px #ffffff,
    inset 0px -1px 1px 0px rgba(0, 0, 0, 0.5),
    inset -1px 0px 1px 0px rgba(0, 0, 0, 0.5);
  padding: 3px;
  height: 100%;
}

.windowBox {
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 100%;
}

.header {
  flex-shrink: 0;
  height: 20px;
  display: flex;
  align-items: center;
  gap: 2px;
  padding: 0 2px;

  cursor: grab;
  background-color: #828182;
  color: #c0c0c0;
}
.header:active {
  cursor: grabbing;
}

.icon {
  height: 20px;
}

.text {
  font-size: 1rem;
  flex-grow: 1;
}

.content {
  flex-grow: 1;
  overflow: auto;
}

.resizeBtn {
  height: 16px;
  width: 16px;
  padding: 0 2px;
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  background-color: #c0c0c0;

  box-shadow: 1px 0px 0px 0px #000000, 0px 1px 0px 0px #000000,
    1px 1px 0px 0px #000000, inset 1px 0px 0px 0px #ffffff,
    inset 0px 1px 0px 0px #ffffff, inset 0px -1px 1px 0px rgba(0, 0, 0, 0.5),
    inset -1px 0px 1px 0px rgba(0, 0, 0, 0.5);
}

.resizeBtn:active {
  transform: translate(1px, 1px);
  box-shadow: 1px 1px 0px 0px #ffffff, 0px 1px 0px 0px #ffffff,
    1px 0px 0px 0px #ffffff, -1px -1px 0px 0px #000000, 1px -1px 0px 0px #000000,
    -1px 1px 0px 0px #000000, inset 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.resizeIcon {
  height: 12px;
}
