
@font-face {
  font-family: "Pixelify Sans";
  src: local("Pixelify Sans"),
    url("./fonts/Pixelify_Sans/PixelifySans-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  src: local("Inter"),
  url("./fonts/Inter/Inter-VariableFont_wght.ttf") format("truetype");
}


:root {
  font-family: "Pixelify Sans", serif;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0px;
  padding: 0px;
}